/* vux css 全局  start*/
.popup-header-bgred {
    background-color: #E04339 !important;
}

.popup-header-bgred .vux-popup-header-left,
.popup-header-bgred .vux-popup-header-title,
.popup-header-bgred .vux-popup-header-right {
    color: #fff !important;
}
.popup-header-bgred .vux-popup-header-title {
    padding: 0 30px;
    text-align: left;
}
/* 头部 */
#app .vux-header {
    background-color: #E04339;
}
#app .vux-header-left,
#app .vux-header-right,
#app .vux-header-left a {
    color: #fff;
}
#app .left-arrow:before {
    border-color: #fff;
}
#app .vux-header-title {
    margin: 0 55px;
    text-align: left;
}
/* vux css 全局  end*/

/* 自定义 */
body, textarea, input, button, select {
    font-size: .16rem;
    font-family: 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
    color: #333;
    outline: 0;
}
em {
    font-style: normal;
}

.text-color-red {
    color: red;
}
.clear {
    *zoom: 1;
}
.clear:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
[v-cloak] {
  display: none;
}
.bg-white {
    width: 100%;
    background-color: #fff;
}
.floatL {
    float: left;
}
.floatR {
    float: right;
}

/*margin, padding  start*/
.mg5 {
    margin: .066667rem;
}
.mg_tb5 {
    margin-top: .066667rem;
    margin-bottom: .066667rem;
}
.mg_lr5 {
    margin-left: .066667rem;
    margin-right: .066667rem;
}
.mg_l5 {
    margin-left: .066667rem;
}
.mg_r5 {
    margin-right: .066667rem;
}
.mg_t5 {
    margin-top: .066667rem;
}
.mg_b5 {
    margin-bottom: .066667rem;
}
.mg10 {
    margin: .133333rem;
}
.mg_bg10 {
    margin-top: .133333rem;
    margin-bottom: .133333rem;
}
.mg_lr10 {
    margin-left: .133333rem;
    margin-right: .133333rem;
}
.mg_l10 {
    margin-left: .133333rem;
}
.mg_r10 {
    margin-right: .133333rem;
}
.mg_t10 {
    margin-top: .133333rem;
}
.mg_b10 {
    margin-bottom: .133333rem;
}
.pd5 {
    padding: .066667rem;
}
.pd_lr5 {
    padding-left: .066667rem;
    padding-right: .066667rem;
}
.pd_tb5 {
    padding-top: .066667rem;
    padding-bottom: .066667rem;
}
.pd_l5 {
    padding-left: .066667rem;
}
.pd_r5 {
    padding-right: .066667rem;
}
.pd_t5 {
    padding-top: .066667rem;
}
.pd_b5 {
    padding-bottom: .066667rem;
}
.pd10 {
    padding: .133333rem;
}
.pd_lr10 {
    padding-left: .133333rem;
    padding-right: .133333rem;
}
.pd_tb10 {
    padding-top: .133333rem;
    padding-bottom: .133333rem;
}
.pd_l10 {
    padding-left: .133333rem;
}
.pd_r10 {
    padding-right: .133333rem;
}
.pd_t10 {
    padding-top: .133333rem;
}
.pd_b10 {
    padding-bottom: .133333rem;
}
/*margin, padding  end*/

.notedata {
    padding: .4rem 0;
    font-size: .266667rem;
    text-align: center;
}

/*layout start*/
.flex {
    display: flex;
    align-items: center;
    padding: .106667rem;
    font-size: .186667rem;
}
.flex .flex {
    padding: 0;
}
.flex.justify-content {
    justify-content: space-between;
}
.flex.align-items {
    align-items: center;
}


.flex_hd,
.flex_ft {
    overflow: hidden;
}
.flex_bd {
    flex: auto;
    width: 0;
    overflow: hidden;
}
/*layout end*/

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}